#caixa_grid {
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
    border: 1px dashed #f97979;
    background-color: #426294;
}

#caixa_grid > section {
    border: 1px double #f895f6;
    background-color: #8049e5;
    color: black;                                                 
}

#celula1{
    border-top-left-radius: 15px;
}

#celula5{
    border-top-right-radius: 15px;
}

#celula6{
    border-top-right-radius: 15px;
}


#celula10{
    border-bottom-right-radius: 15px;
}

#paragrafo{
    font-size: 1.5em;
}

#titulo{
    font-size: 1.75em;
}
